/* Variaveis */
:root {
    --cor-borda: #ffffff4b;
    --cor-branca: #fff;
    --cor-cinza-escuro: #171717;
    --cor-cidade: #9fd0ec;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Body */
body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

/* Conteudo Principal */
main {
    width: 70vw;
    background-color: #000;
    opacity: 0.7;
    height: auto;
    padding: 2rem 3rem;
    border-radius: 1rem;
    display: grid;
    grid-template-areas: 
    "pesquisar pesquisar"
    "esquerda direita"
    ;
    grid-gap: 2em;
    grid-template-columns: 40% auto;
    grid-template-rows: auto 60vh;
}

/* Buscar */
#busca {
    grid-area: pesquisar;
    display: flex;
    gap: 15px;
}

    input {
        width: 90%;
        padding: 1rem;
        border-radius: 1rem;
        outline: none;
        border: none;
    }

    #lupa{
        width: 52px;
        height: auto;
        padding: 0.5rem;
        cursor: pointer; 
        transition: all 1s;
        background-color: var(--cor-branca);
        border-radius: 50%;
    }

    #lupa:hover {
        transform: scale(1.1);
    }


/* Informações */

/*Info Esquerda*/
#card-esquerda {
    grid-area: esquerda;
    border: solid 2px var(--cor-borda) ;
    border-radius: 1rem;
    color: var(--cor-branca);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .img-tempo {
        width: 100px;
    }

    .tempo {
        text-align: center;
        padding: 0rem 0rem 2rem ;
        text-transform: capitalize;
    }

/* Info Direita */

#card-direita {
    color: var(--cor-branca);
    border: solid 2px var(--cor-borda);
    border-radius: 1rem;
    grid-area: direita;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

    strong {
        color: var(--cor-cidade);
    }


/* Responsividade */
@media only screen and (max-width: 800px) {
    main{
    width: 80vw;
    height: auto;
    grid-template-areas: 
    "pesquisar"
    "esquerda"
    "direita"
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    }

    #card-direita {
        align-items: center;
        justify-content: center;
    }

    #cidade {
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px){
    #cidade {
        font-size: 1rem;
    }

    p{
        font-size: 0.7rem;
    }
}
